body {
    margin: 0px;
}

#header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}

#forecastContainer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgrey;
}

.forecastCard {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid black; */
    height: 160px;
    width: 120px;
    background-color: white;
    padding: 5px;
}

.forecastCardIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    height: 80px;
    width: 80px;
}

.forecastCardTitle {
    font-weight: bolder;
}

#currentConditions {
    padding: 10px;
    /* border: 1px solid red; */
}

#currentLocation {
    font-size: 32px;
    padding-right: 20px;
    /* border: 1px solid green; */
}

.currentConditionsCards {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.currentCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid pink; */

}

#currentTemp {
    font-size: 55px;
}